
* {
    font-family: 'Roboto', sans-serif;
}
@import "_promo.scss";
@import "_variables.scss";
@import "_header.scss";
@import "_buttons.scss";
@import "_advantages.scss";
@import "_titles.scss";
@import "_consultation.scss";
@import "_forms.scss";
@import "_carousel.scss";
@import "_swiper.scss";

.container {
    max-width: 950px;
    margin: 0 auto;
}
